<div class="topbar">
  <div class="title"><img src="/police_logo.png" style="width:45px;margin-right:8px;">무안경찰서 범죄예방가이드</div>
  <div class="nav">
    <a href="/">메인</a>
    <% if (isAdmin) { %>
      <a href="/admin">관리자</a>
      <a href="/admin/logout">로그아웃</a>
    <% } else { %>
      <a href="/admin/login">관리자 로그인</a>
    <% } %>
  </div>
</div>
